body{
    font-family: Arial;
    background-color: rgba(121, 202, 158, 0.918);
    padding: 0.1px;
}

h1,h2{
    text-align: center;
    color: rgb(213, 243, 236);
}

.txtcolor-overide{
    color: whitesmoke;
    /* This is just an override for a basic color */
}

hr{
    padding: 2px;
    background-color: aqua;
}

.hr2{
    padding: 2px;
    background-color: rgb(54, 190, 99);
    /* This is another override */
}